@use "@/app/(default)/styles/variables.scss" as *;

.hasAccess{
    font-size: 1.2em;
    background-color: $main-dark;
    width: 250px;
    height: 120px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: $main-red;
    transition: all 0.4s cubic-bezier(0.3, 0.1, 0.25, 1);
}

.hasAccess:hover{
    transform: translateY(20);
    box-shadow: 0 5px 15px rgba(0,0,0,1);
}

.noneAccess{
    font-size: 1.2em;
    background-color: $main-dark;
    width: 250px;
    height: 120px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: $main-red;
    filter: blur(4)
}