.addSceneButton {
  width: 100%;
  background: #ff5722; /* colors.accent */
  color: #fff;
  font-family: "Nunito", sans-serif;
  padding: 0.375rem; /* 6px / 16 */
  border-radius: 0.375rem; /* 6px / 16 */
  border: none;
  font-size: 1rem;
  margin-top: 0.625rem; /* 10px / 16 */
  cursor: pointer;
  font-weight: bold;
}