DATABASE_HOST=postgres #Name of container with Database
DATABASE_PORT=5432 #Port of Database
DATABASE_USERNAME=postgres #Superuser`s username in PostgreSQL 
DATABASE_PASSWORD=root #Superuser`s password in PostgreSQL (root - is deffault password)
DATABASE_NAME=storyCraft #Database name in PostgreSQL

DATABASE_URL=postgresql://${DATABASE_USERNAME}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=public #Database URL in PostgreSQL for connect to it

JWT_SECRET=6a5e39cb78c314a95e82223d5d58a9dd13004a10912f98b981c4735b0398638a #JWT decryption key